* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

input,
select {
  font-size: 0.8em;
  font-family: 'Oswald', sans-serif;
}

form {
  width: 100%;
  max-width: 500px;
}

/* HEADER */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font-size: 3em;
  background-color: rgb(39, 35, 67);
  color: white;
  letter-spacing: 1px;
}

/* SUB-HEADER  */

.current-page {
  padding: 0 1rem;
  font-size: 2.5em;
  background-color: rgb(227, 246, 245);
}

/* HOME PAGE */

.app-drawer {
  display: flex;
  flex-wrap: wrap;
}

.tile-container {
  padding: 1rem;
}

.bg-app-tile {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  transform: rotate(4deg);
  background-color: rgb(186, 232, 232);
  z-index: -1;
  box-shadow: 1px 3px 3px rgba(1, 1, 1, 0.425);
}

.app-tile {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: 1px 3px 3px rgba(1, 1, 1, 0.425);
}

.app-tile > .tile-title {
  text-align: center;
  width: 100%;
}

.tile-title > h2 {
  margin-bottom: 0;
}

.app-tile > .icon {
  text-align: center;
  width: 100%;
}

.app-tile > .icon > i {
  font-size: 6em;
}

/* EXERCISES PAGE */

.exercise-accordion-mobile {
  background-color: rgb(39, 35, 67);
  font-size: 2.5em;
  margin: 1rem;
}

.muscle-group {
  background-color: rgb(236, 236, 236);
  border-bottom: 1px solid black;
}

.muscle-group > a {
  padding-left: 0.5rem;
}

.exercise {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  background-color: rgb(186, 232, 232);
  padding-left: 1rem;
}

.exercise > .unsaved-icon {
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.exercise-details {
  border-top: 1px solid black;
  background-color: rgb(227, 246, 245);
  font-size: 0.6em;
  padding: 0.5rem;
}

.exercise-details > img {
  width: 50%;
  max-width: 400px;
  padding: 1rem;
}

.exercise-steps {
  padding-left: 1rem;
}

.exercise-steps > h2 {
  margin: 0;
}

/* DESKTOP V */

.muscle-list-desktop {
  font-size: 2.5em;
  padding: 0.5rem;
  padding-left: 1rem;
}

.exercise-app-container-desktop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.exercise-tiles-container-desktop {
  display: flex;
  flex-wrap: wrap;
}

.exercise-tiles-container-desktop > .tile-container > .app-tile {
  position: relative;
}

.exercise-tiles-container-desktop > .tile-container > .app-tile > .unsaved-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.exercise-details-desktop {
  background-color: rgb(236, 236, 236);
  width: 90%;
  padding: 2rem;
}

.exercise-info-group-desktop {
  padding: 1rem;
}

.exercise-info-group-desktop > img {
  max-height: 300px;
}

.exercise-info-group-desktop > .exercise-steps {
  width: 90%;
}

/* CREATE WORKOUT FORM */

.form-container {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  font-size: 2em;
  padding: 1rem;
}

.cw-form-item {
  width: 100%;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  user-select: none;
}

.section-line {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.muscle-exercise-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.mes-select {
  width: 100%;
}

.exercise-container > h2 {
  margin: 0;
}

.exercise-selections-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(227, 246, 245);
  padding: 1rem;
}

.exercise-choice-select > h4,
.muscle-choice-select > h4 {
  margin: 0;
}

.exercise-choice-select {
  flex-basis: 44%;
}

.muscle-choice-select {
  flex-basis: 44%;
}

/* USER WORKOUT LIST */

/* MOBILE */

.workout-list-container-mobile {
  font-size: 2.5em;
  margin: 1rem;
}

.workout-list-item {
  background-color: rgb(236, 236, 236);
  margin: 1rem 0;
  box-shadow: 2px 4px 6px rgb(39, 35, 67);
}

.workout-list-item > a {
  padding-left: 1rem;
}

/* DESKTOP */

.user-workouts-desktop {
  font-size: 2.5em;
}

/* USER WORKOUT */

.user-workout-container {
  margin: auto;
  font-size: 2em;
  padding: 1rem;
  max-width: 900px;
}

.user-workout-title {
  text-align: center;
  font-size: 3em;
  padding: 0.5rem;
  background-color: rgb(236, 236, 236);
}

.exercise-item {
  padding: 0.5rem;
}

.exercise-item-title {
  font-size: 1.5em;
}

.exercise-item-details {
  display: flex;
  text-align: center;
  background-color: rgb(227, 246, 245);
  padding: 0.5rem;
}

.exercise-item-subtitle {
  font-size: 1.2em;
  font-weight: bold;
}

.exercise-item-exercise-group {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .muscle-list-desktop {
    display: none;
  }

  .saved-exercise-list-desktop {
    display: none;
  }

  .user-workouts-desktop {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .exercise-accordion-mobile {
    display: none;
  }

  .saved-exercise-list-mobile {
    display: none;
  }

  .workout-list-container-mobile {
    display: none;
  }
}
